@model OnlineFlightTicketBooking.Entity.Flight

@{
    ViewBag.Title = "EditFlightDetails";
}

<h2>Edit Flight Details</h2>

@using (Html.BeginForm("UpdateFlightDetails","Flight",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.FlightId)

        <div class="form-group">
            @Html.LabelFor(model => model.FlightName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FlightName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FlightName,"",new { @style="color:red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartLocation,"",new { @style="color:red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TargetLoation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TargetLoation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TargetLoation,"",new { @style="color:red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DispatchDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DispatchDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DispatchDate,"",new { @style="color:red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArrivalDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArrivalDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArrivalDate,"",new { @style="color:red" })
            </div>
        </div>
   <br/>

   <div class="form-group">
       <div class="col-md-offset-2 col-md-10">
           <input type="submit" value="Save Changes" class="btn btn-default" />
       </div><br />
       <div>
           @Html.ActionLink("Back to Details", "DisplayFlightDetails")
       </div>
       <br />
       @*<div>
           @Html.ActionLink("Edit Flight Class", "EditFlightClass","FlightClass")
       </div>*@
   </div>
    </div>
}


